<title>MPCT Server</title>	
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/navigation.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/socket.io/socket.io.js"></script>

<script src="/script/jquery-3.3.1.min.js"></script>
<script src="/script/tools.js"></script>
<script src="/script/navigation.js"></script>

<script src="/script/main.js"></script>

<script src="/script/class_hui_mpct_controller.js"></script>
<script src="/script/class_hui_mpct_device.js"></script>
<script src="/script/class_hui_mpct_relay.js"></script>
<script src="/script/class_hui_mpct_switch.js"></script>
<script src="/script/class_hui_mpct_ds18b20.js"></script>
<script src="/script/class_hui_mpct_dht22.js"></script>
<script src="/script/class_hui_mpct_flowSensor.js"></script>
<script src="/script/class_hui_mpct_projector.js"></script>
<script src="/script/class_hui_mpct_clockTimer.js"></script>
<script src="/script/class_hui_mpct_macro.js"></script>
